:root{

/* bg-colors */
--bg-primary-color:rgb(30, 22, 48);
--bg-secondary-color:rgb(83, 98, 158);
--bg-tertiary-color:rgb(135, 186, 195);
--bg-active-color:rgb(214, 244, 237);
--bg-danger-color:rgba(255, 38, 0, 0.918);
--bg-success-color:rgba(20, 194, 98, 0.925);

/* text-colors */
--text-primary-color:rgb(237,237,237);
--text-secondary-color:rgb(200,200,200);
--text-tertiary-color:rgb(150,150,150);
--text-active-color:rgb(24,24,24);

/* border-radius */
--border-radius-sm: 0.5rem;
--border-radius-md: 1rem;
--border-radius-lg: 1.5rem;
--border-radius-xl: 2rem;
--border-radius-2xl: 3rem;

/* padding */
--padding-sm: 0.5rem;
--padding-md: 1rem;
--padding-lg: 1.5rem;
--padding-xl: 2rem;
--padding-2xl: 3rem;

    /* padding */
--padding-sm: 0.5rem;
--padding-md: 1rem;
--padding-lg: 1.5rem;
--padding-xl: 2rem;
--padding-2xl: 3rem;

/* margin */
--margin-sm: 0.5rem;
--margin-md: 1rem;
--margin-lg: 1.5rem;
--margin-xl: 2rem;
--margin-2xl: 3rem;

/* gutter */
--gutter-sm: 0.5rem;
--gutter-md: 1rem;
--gutter-lg: 1.5rem;
--gutter-xl: 2rem;
--gutter-2xl: 3rem;

/* font-size */
--font-size-sm: 0.5rem;
--font-size-md: 1rem;
--font-size-lg: 1.5rem;
--font-size-xl: 2rem;
--font-size-2xl: 3rem;
}



